ghtml.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ghtml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="h1"/>
              <xs:element name="author">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="br"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="style"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="documentindex"/>
              <xs:element name="bookBody">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="chapter">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="h2"/>
                          <xs:element name="chapterBody">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="paragraph">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="h3"/>
                                      <xs:element name="paragraphBody">
                                        <xs:complexType>
                                          <xs:choice maxOccurs="unbounded" minOccurs="0">
                                            <xs:element name="p" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType mixed="true">
                                                <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element type="xs:string" name="br"/>
                                                  <xs:element type="xs:string" name="i"/>
                                                </xs:choice>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="gcode">
                                              <xs:complexType mixed="true">
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="br" maxOccurs="unbounded" minOccurs="0"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="dbdiagram">
                                              <xs:complexType mixed="true">
                                                <xs:choice maxOccurs="unbounded" minOccurs="0">
                                                  <xs:element name="dbel">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute type="xs:string" name="type" use="optional"/>
                                                          <xs:attribute type="xs:string" name="name" use="optional"/>
                                                          <xs:attribute type="xs:string" name="fields" use="optional"/>
                                                          <xs:attribute type="xs:byte" name="left" use="optional"/>
                                                          <xs:attribute type="xs:string" name="right" use="optional"/>
                                                          <xs:attribute type="xs:string" name="join" use="optional"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:choice>
                                                <xs:attribute type="xs:string" name="language" use="optional"/>
                                                <xs:attribute type="xs:string" name="variables" use="optional"/>
                                                <xs:attribute type="xs:string" name="props" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="ucdiagram">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="actor" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute type="xs:string" name="name" use="optional"/>
                                                          <xs:attribute type="xs:string" name="uses" use="optional"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="classdiagram">
                                              <xs:complexType mixed="true">
                                                <xs:sequence>
                                                  <xs:element name="classel" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute type="xs:string" name="stereotype" use="optional"/>
                                                          <xs:attribute type="xs:string" name="type" use="optional"/>
                                                          <xs:attribute type="xs:string" name="name" use="optional"/>
                                                          <xs:attribute type="xs:string" name="abstract" use="optional"/>
                                                          <xs:attribute type="xs:string" name="methods" use="optional"/>
                                                          <xs:attribute type="xs:string" name="attrs" use="optional"/>
                                                          <xs:attribute type="xs:string" name="interfaces" use="optional"/>
                                                          <xs:attribute type="xs:string" name="relation" use="optional"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:choice>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>